/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #e9d2e2;
    color: #000000;
}

/* Navegación */
nav {
    background-color: #4583e0;
    padding: 15px 0;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    transition: 0.3s;
}

nav ul li a:hover {
    text-decoration: underline;
}

/* Resaltar "CSS" y "JavaScript" al pasar el cursor */
nav ul li a[href="#css"]:hover {
    background-color: #ffcc00; /* Amarillo */
    color: black;
    padding: 5px 10px;
    border-radius: 5px;
}

nav ul li a[href="#javascript"]:hover {
    background-color: #ff6600; /* Naranja */
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
}

/* Secciones */
section {
    padding: 40px;
    max-width: 800px;
    margin: auto;
    background: white;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(255, 255, 255, 0.1);
}

h2 {
    color: #007BFF;
    text-align: center;
}

p {
    text-align: justify;
    line-height: 1.6;
}

/* Imágenes */
section a img {
    display: block;
    margin: 20px auto;
    width: 120px;
    transition: transform 0.3s;
}

section a img:hover {
    transform: scale(1.1);
}

/* Tabla de atributos CSS */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid #ccc;
    text-align: left;
}

th, td {
    padding: 10px;
}

th {
    background-color: #129e70;
    color: white;
    text-align: center;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

/* Ajuste de imágenes en la tabla */
td img {
    width: 100px;
    display: block;
    margin: auto;
}

/* Enlaces dentro de la tabla */
td a {
    color: #007BFF;
    text-decoration: none;
    font-weight: bold;
}

td a:hover {
    text-decoration: underline;



}
